doctype html
html
  include header_tiku.jade
  body
    div(data-role="page")
      div.ui-content(data-role="main") !{node.body.und[0].safe_value.replace("/sites/default/files","../img").replace("\n","<br/>")}
        ul(data-role="listview",data-inset="true")
          -if (node.field_choice_a.und)
              li
                a.selection(href="#",choice="A")
                    img.answer_pic(src="../img/A.jpg")
                    h2 A
                    p.field_choice !{node.field_choice_a.und[0].value == "A" ? "":node.field_choice_a.und[0].value.replace("/sites/default/files","../img")}
          -if (node.field_choice_b.und)
              li
                a.selection(href="#",choice="B")
                    img.answer_pic(src="../img/B.jpg")
                    h2 B
                    p.field_choice !{node.field_choice_b.und[0].value == "B" ? "":node.field_choice_b.und[0].value.replace("/sites/default/files","../img")}
          -if (node.field_choice_c.und)
              li
                a.selection(href="#",choice="C")
                    img.answer_pic(src="../img/C.jpg")
                    h2 C
                    p.field_choice !{node.field_choice_c.und[0].value == "C" ? "":node.field_choice_c.und[0].value.replace("/sites/default/files","../img")}
          -if (node.field_choice_d.und)
              li
                a.selection(href="#",choice="D")
                    img.answer_pic(src="../img/D.jpg")
                    h2 D
                    p.field_choice !{node.field_choice_d.und[0].value == "D" ? "":node.field_choice_d.und[0].value.replace("/sites/default/files","../img")}

          div.correctAnswer(data-role="collapsible")
            h4 查看正确答案
            div
              p 正确答案：!{node.field__xuan_xiang.und[0].value.replace("/sites/default/files","../img")}
              div !{node.field_analysis.und? node.field_analysis.und[0].value.replace("/sites/default/files","../img"): ""}
      div(data-role="footer",data-position="fixed",data-fullscreen="true")
        fieldset.ui-grid-a
          .ui-block-a
            button(onclick="shangyiti()") 上一题
          .ui-block-b
            button(onclick="xiayiti();") 下一题
      script(src="../main_danxuan.js")
      script(src="../redirect_index.js")

